{% extends "./base.html' %}
{% block content%}
<h1> Historia transakcji </h1>
<h4> Twój stan konta wynosi: {{balance}} zł
<div class='row mt-4'> 
<div class='col-6'>
    <h3> Transakcje wykonane </h3>
    <ol class='list-group list-group-flush' id='transakcje-wykonane'>
    {% for trans in transactions_paid%}
        <li class="list-group-item">
            <h5 class='transfer_account' >Do: {{trans.to}}</h5>
            <h5 class='transfer_value'>Ile: {{trans.value}} zł</h5>
            <h5> Kiedy: {{trans.date|date:"d F Y"}} </h5>
            {% if trans.accepted %}
            
                <h5 style="color: green"> Transakcje zaakceptowana</h5>
            {% else %}
                <h5 style="color: red"> Transakcja oczekuje na zaakceptowanie</h5>                
            {% endif %}
        </li>
    {% endfor %}
    </ol>
</div>
<div class='col-6'> 
<h3> Transakcje otrzymane </h3>
    <ol class='list-group list-group-flush'>
    {% for trans in transactions_recived%}
        <li class="list-group-item">
            <h5> Od: {{trans.by}} </h5>
            <h5> Ile: {{trans.value}} zł </h5>
            <h5> Kiedy: {{trans.date|date:"d F Y"}} </h5>
        </li>
    {% endfor %}
    </ol>
</div>
</div>
{% endblock %}